.chart-container {
  padding: 10px;
}

.chart-popup {
  position: fixed;
  z-index: 1000;
  padding: 10px;
  background: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  font: 12px Arial, Helvetica;
}
