@color-red: #ff1414;
@color-orange: #ff9314;
@color-gold: #ffba14;
@color-yellow: #f9ec15;
@color-green: #75b313;
@color-teal: #00e37d;
@color-blue: #3695ff;
@color-indigo: #7c3dff;
@color-violet: #7f0894;
@color-violet-red: #b6095b;
